
body{
    background-color: #664AED;
}

.flex-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px; 
    align-items: center; 
}

.container-items{
    display: flex;
}

.container-center{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px; 
}



@media (max-width:768px){
    .hero-image-test{
        height: 80%;
        width: 80%
    }

}

@media (max-width:768px){
    #kismet-label{
        height: 100%;
        width: 100%
    }

}

@media (max-width:768px){
    #phone-70-percent{
        height: 70%;
        width: 70%;
        padding-top: 30px;
        padding-left:40px; 
    }

}



@media (max-width:768px){
    #phone-10-percent{
        height: 10%;
        width: 10%
    }
}

@media (max-width:768px){
    #container-center-phone{
        display: flex;
        justify-content: center;
    }
}


html, h1, h2, h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
    letter-spacing: 5px; 
    text-transform: uppercase;
}


body h3:hover{
    color:aliceblue !important;
 }

nav{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px; 
    text-transform: uppercase;
    background-color:transparent;
    opacity: 90%;
    margin-top: 30px; 
    margin-bottom: 30px;
}


#transparent-nav a{
    color: #ccff33;
}

footer{
    color:aliceblue;
    background-color:#664AED;
    padding: 10px;
    font-size: x-small; 
}

#insta{
    color:aliceblue;
    margin-left: 20px;
    margin-top: 10px;  
}

.footer-logo{
    margin-right: 50px; 
}

#copyright{
    margin-left: 10px; 
}

.location{
    padding-top: 100px;
    padding-bottom: 100px; 
    align-items: center;
}

#kismet-label{
    margin-left: 40px; 
}

.heroImage {
	background: linear-gradient(rgba(255, 215, 215, 0.5), rgba(255, 215, 215, 0.5));
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;

}

.heroContents {
	padding: 20px;
	text-align: center;
	color: white;
    margin: 40px; 
}

.hero-title{
    background-position: center;
	background-repeat: no-repeat;
	position: relative;
    height: 100%;
    padding-top: 50px; 
    padding-bottom: 50px; 
}



/* Home page (who we are) */

#grad-3{
    background-image: linear-gradient(to right , #cb4445, #664AED);
}


#discoball-home{
    opacity: 30%
}


#moving-logo{
    position: absolute; 
}

#home-info{
    position: relative;
    bottom: 130px; 

}



/* hours  */


#grad {
    background-image: linear-gradient(to right, #664AED , #cb4445);
}

.padding-40{
    padding-bottom: 40px; 
}

.white{
    background-color: aliceblue;
    opacity: 90%;
}

#events-hours-background-logo{
    margin-left: 130px;
    margin-top: 10px;  
}


.disco{
    display: flex;
    flex-direction: column;
}

#hours{
    position: relative; 
    bottom: 580px; 
    margin-right: 10%; 
}

#operational-hours{
    opacity: 90%;
    padding-top: 30px; 
}

#hours-flex{
    display: flex;
    flex-direction: column;
}

#discoball{
    position: absolute; 
    opacity: 30%;
    padding-top: 30px; 
    
}

#plain-yellow-logo-hours{
    opacity: 50%;
    position: relative;
    left: 630px; 
    top: 340px; 
}

/* WHAT WE ARE */

.what-we-are-image{
    margin: 50px; 
}

#what-we-are-footer{
    color:antiquewhite;
    background-color:#6c52ea;
}






/* events and calendar */


.events-container{
    display: flex;
    justify-content: center;
    padding: 50px; 
}


.container-events{
    padding: 60px;  
    margin-right: 20px; 

}

.tickets-available-soon{
    margin-bottom: 80px; 
}



.container-space-between{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-background-events{
    padding: 0px; 
}



#kismet-logo-hours-and-events{
    position: absolute; 
    
}












/* FORM GROUPS */



.form-group{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 15px; 
    padding-top: 25px;
    letter-spacing: 10px;
}
  
  
.form-item{
      padding: 3px;
       
  }

  .form-row{
      width: 50%;
  }
  
  
.col input{
    font-size: 15px;
    background-color: transparent;
}

.col input::placeholder{
    color:beige;  
    opacity: 70%;
}

.form-group textarea::placeholder{
    color:beige; 
    opacity: 70%; 
}

.form-group .placeholder{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 15px; 
    padding: 10px; 
    letter-spacing: 10px;
}
  
.form-item textarea{
    font-size: 20px;
    background-color: transparent;
}
  

.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 15px; 
    margin-top: 20px; 
    letter-spacing: 10px;
    color:black;
    background-color:beige;
    width: 100%;
}

.form-control{
    text-transform: uppercase;
    font-size: 15px; 
    letter-spacing: 10px;
    background-color: transparent;
    
}

.form-group{
    width: 100%;
    border:#ccff33;
}
  
#button :hover{
    text-decoration : none;
    color: #664AED;
    background-color: #ccff33;
    border-color:aliceblue;
}


/* activities */


#grad-2 {
    background-image: linear-gradient(to left, #cb4445, #664AED);
}

#activities-background-logo{
    margin-left: 10%;
}

#activities-menu{
    display: flex;
    justify-content:end;
    margin-top: 5%;
    margin-left: 200px; 
}

#weekend-social{
    padding-top: 70px; 
}


.purple{
    background-color:#7f6aeb;
}

#plain-yellow-logo-activities{
    opacity: 30%;
    position:absolute;
}

#activities-label{
    position: absolute; 
    opacity: 80%;
    margin-left: 100px; 
}

.activites-footer{
    display: flex; 
    justify-content:flex-end;
}





/* join the community */





#disco-logo{
    padding: 20px;
    opacity: 90%;
    padding-left: 300px;
    position: relative; 
    bottom: 80px; 
}

#header-image-join-the-community{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    margin-left: 100px; 
}

#logo-background-join{
    padding-left: 200px; 
}

#join-the-community-title{
    padding-left: 100px; 
    padding-top: 50px; 
}

form{
    margin-right: 40px; 
}

.join-community-text{
    margin: 5px; 
}

.tell-us-about-yourself{
    padding-top: 20px;
      
}

#plain-yellow-logo{
    opacity: 30%;
    position: relative;
    right: 600px;
    bottom: 300px;  
}

form{
    margin-bottom: 60px; 
}




.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
    margin: 40px auto;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 40px;
    background:transparent;

}

.mytabs .tab {
    width: 10%;
    padding: 10px;
    background: transparent;
    order: 1;
    display: none;
    color:transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-transform: lowercase;
    padding-top: 40px; 
    
}

.mytabs .tab h2 {
    font-size: 4em;
    color:#ccff33;
    letter-spacing: 20px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.mytabs p {
    font-size: 2em; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    text-transform: capitalize;
}

.mytabs input[type='radio']:checked + label + .tab + .tab{
    display: block;
}

.mytabs input[type='radio']:checked + label + .tab {
    display:block;
}

.mytabs input[type="radio"]:checked + label {
    background:transparent;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
}



