
body{
    background-color: #664AED;
}



.container-items{
    display: flex;
}

.container-center{
    display:flex;
    justify-content: center;
}




html, h1, h2, h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ccff33;
    letter-spacing: 5px; 
    text-transform: uppercase;
}


body h3:hover{
    color:aliceblue !important;
 }

nav{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px; 
    text-transform: uppercase;
    background-color:transparent;
    opacity: 90%;
    margin-top: 50px; 
    margin-bottom: 10px;
}


#transparent-nav a{
    color: #ccff33;
}



/* Home page (who we are) */

.parent {
    background-color: #664AED;
    height: 200px;
    width:300px;
     
}

.child {
    background-color:#664AED;
    height: 50%;
    width: 50%;
    transition: transform 1s linear ease-in-out;
    margin-left: 50px;
    padding: none;  
}

.parent:hover .child{
    transform: translateX(100%);
    background-color:#664AED;
    opacity: 20%;
}

#home-logo{
    position: relative;
    left: 600px; 
    bottom: 550px; 
    opacity: 20%;
}

#moving-logo{
    position: absolute; 
}

#home-info{
    position: relative;
    bottom: 130px; 

}



/* hours  */


#grad {
    background-image: linear-gradient(to right, #664AED , #cb4445);
}

.white{
    background-color: aliceblue;
    opacity: 90%;
}

#events-hours-background-logo{
    margin-left: 130px;
    margin-top: 10px;  
}

.cal-link{
    display: flex; 
}


.disco{
    display: flex;
    flex-direction: column;
}

#hours{
    position: relative; 
    bottom: 580px; 
    margin-right: 10%; 
}

#operational-hours{
    opacity: 90%;
    padding-top: 30px; 
}

#hours-flex{
    display: flex;
    flex-direction: column;
}

#discoball{
    position: absolute; 
    opacity: 30%;
    padding-top: 30px; 
    
}

#plain-yellow-logo-hours{
    opacity: 50%;
    position: relative;
    left: 630px; 
    top: 340px; 

  
}






/* events and calendar */



#transparent-nav a{
    color:#ccff33;
}

.events-container{
    display: flex;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
}

#logo-background-events{
    padding: 0px; 
}

#events h3{
    color:#664AED;
    letter-spacing: 5px;
    font-size: 22px;
}

#events h3:hover{
    color:#cb4445;
    letter-spacing: 10px;
    font-size: 25px;
}

#events-logo{
    opacity: 80%;
    padding-top: 20px; 
}

#kismet-logo-hours-and-events{
    position: absolute; 
    opacity: 15%;
}

#events-label{
    padding-top: 20px; 
}

#reserve-tickets{
    opacity: 75%;

}











/* FORM GROUPS */

.form-group{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 15px; 
    padding-top: 25px;
    letter-spacing: 10px;
  }
  
.form-label{
      padding-top: 20px;
      color:beige;
  }
  
.form-item{
      padding: 3px;  
  }
  
#form{
    width: 500px; 
    height: 600px;
  }

#form h1{
    letter-spacing: 15px;
    font-size: 45px;
    color:beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#form h1:hover{
    letter-spacing: 17px;
    font-size: 45px;
}
  
.form text{
    background-color: transparent;
  }
  
.form-item input{
    border: 1px solid #ccff33;
    font-size: 20px;
    background-color: transparent;
  }
  
.form-item textarea{
    border: 1px solid #ccff33;
    font-size: 20px;
    background-color: transparent;
  }
  
.form-label button{
    width: 50%;
    border:#ccff33;
}

.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 15px; 
    padding: 10px; 
    letter-spacing: 10px;
    color:beige;
    width: 50%;
}
  
#button :hover{
    text-decoration : none;
    color: #664AED;
    background-color: #ccff33;
    border-color:aliceblue;
}


/* activities */


#grad-2 {
    background-image: linear-gradient(to right, #cb4445, #664AED);
}

#activities-background-logo{
    margin-left: 10%;
}

#activities-menu{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


.purple{
    background-color:#7f6aeb;
}

#plain-yellow-logo-activities{
    opacity: 30%;
    position:absolute;
}

#activities-label{
    position: absolute; 
    opacity: 80%;
}

.activites-footer{
    display: flex; 
    justify-content:flex-end;
}





/* join the community */

#disco-logo{
    padding: 20px;
    opacity: 75%;
    padding-left: 300px;
    position: relative; 
    bottom: 80px; 
    
}

#header-image-join-the-community{
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

#logo-background-join{
    padding-left: 200px; 
}

#join-the-community-title{
    padding-left: 100px; 
    padding-top: 50px; 
}

#tell-us-about-yourself{
    padding-left: 200px; 
    padding-top: 50px; 
}

#plain-yellow-logo{
    opacity: 30%;
    position: relative;
    right: 600px;
    bottom: 300px;  

}

#form{
    padding-top: 50px; 
}

.join-container{
    margin-bottom: 100px;
    position: absolute;
    margin-left: 150px;
    margin-top: 100px; 
}




.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 20px auto;
    padding: 10px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 20px;
    background:transparent;
    opacity: 90%;
    color:beige;
}

.mytabs .tab {
    width: 100%;
    padding: 10px;
    background: transparent;
    order: 1;
    display: none;
    color:transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-transform: lowercase;
    padding-top: 40px; 
    
}

.mytabs .tab h2 {
    font-size: 4em;
    color:#ccff33;
    letter-spacing: 20px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.mytabs p {
    font-size: 2em; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    text-transform: capitalize;
}

.mytabs input[type='radio']:checked + label + .tab + .tab{
    display: block;
}

.mytabs input[type='radio']:checked + label + .tab {
    display:block;
}

.mytabs input[type="radio"]:checked + label {
    background:transparent;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
}



