<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
<title>Title</title>
</head>
<body id="activities-background">

    <nav id="purple-nav" class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar10">

                </div>
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('what_we_are') }}">What We Are</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('calendar_and_events') }}">Calendar & Events</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <img id="plain-yellow-logo-hours" src="/static/plain-yellow-logo.png" height="400px" width="600px">

    

    <div class="container hours-flex">
        
        <img id="events-hours-background-logo" src="/static/logo_background.png" height="50px" width="550px">
        <img src="/static/hours.png" height="400px" width="600px">
        <img id="discoball" src="/static/discoball.png" height="1000px" width="600px">
 
    </div>


    <div class="mytabs">
        <input type="radio" id="tabdailypopup" name="mytabs" checked="checked">
        <label for="tabdailypopup">Daily Pop-up</label>
        <div class="tab">
        <h2>Daily Pop-up</h2>
        <p>$19 Ticket</p>
        </div>

        <input type="radio" id="tabweeknight" name="mytabs">
        <label for="tabweeknight">community events</label>
        <div class="tab">
        <h2>Weeknight community events - ticket/variable </h2>
        <p>workshops/seminars</p>
        <p>open mics</p>
        </div>

        <input type="radio" id="tabweekend" name="mytabs">
        <label for="tabweekend">social events</label>
        <div class="tab">
        <h2>Weekend social events - ticket/variable</h2>
        <p>Music & Entertainment</p>
        <p>experimental Parties</p>
        <p>brand/creative collaborations</p>
        <p>vendor markets</p>
        <p>wellness days</p>
        </div>

        <input type="radio" id="tabrentals" name="mytabs">
        <label for="tabrentals">Private Rentals</label>
        <div class="tab">
        <h2>Private Rentals</h2>
        <p>peer space</p>
        <p>photo shoots</p>
        <p>external brands</p>
        <p>galleries/showcasing</p>
        </div>
    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>