{% extends 'base.html' %}


{% block content %}

<body id="grad-2">


    <!-- ACTIVITIES CONTENT  -->

    <div class="big-image-activites">
        <div class="overlay">
            <div class="overlay-text-container">
                <h1 class="massive-title">Activities</h1>
                <h3 class="massive-title">Daily Pop-ups, Weekend Events, & Private Rentals</h3>
            </div>
        </div>
    </div>


    <div class="grid-3">
        <div class="text-center pinside40">
            <h1 class="text-center pinside10">Daily Popup</h1>
            <p class="text-center pinside40">General Admission 12$ ticket</p>
        </div>
        <div id="img" class=" pinside40" ><img src="/static/pictures/dclassic 2022-07-26 090721.311.JPG" height="100%" width="100%"></div>
        <div>
            <h3 class="mt80 pinside40"> Come Say Hi! </h3>
            <p class="pinside40">Stop by and check out our space! See what we're all about. 12 dollars upon entry.</p>
        </div>
    </div>



    <div class="item-pink-background">
        <div class="grid-3">
            <div></div>
            <div id="img" class=" low-opacity pinside40" ><img src="/static/pictures/dclassic 2022-07-26 090413.710.JPG" height="100%" width="100%"></div>
            <div></div>
        </div>
    </div>

    <div class="grid-3">
       
            <h1 class="text-center pinside40">Weekend Social Events</h1>
            <div>
                <p class="text-center pinside40" >*ticket variable*</p>
                <div class="text-center pinside10"><a href=https://linktr.ee/kismetstudiochicago class="btn-2">Buy Tickets</a> </div>

            </div>
            <div class="text-center pinside40">
                <p class="pinside10">  Music and Entertianment</p>
                <p class="pinside10"> Creative Collaborations</p>
                <p class="pinside10"> Vendor Markets</p>
                <p class="pinside10"> Wellness Days</p>
           
            </div>
    </div>

    <div class="item-pink-background">
        <div class="grid-3">
            <div></div>
            <div id="img" class="low-opacity pinside40" ><img src="/static/pictures/dclassic 2022-07-26 090707.744.JPG" height="100%" width="100%"></div>
            <div></div>
        </div>
    </div>

    <div class="grid-3">
       
        <div>
            <h1 class="text-center pinside40">Private Rentals</h1>
            <p class="text-center pinside20">Plan your next party at Kismet! </p>
            <div class="text-center pinside10"><a href=https://www.peerspace.com/pages/listings/628fb1b8c986d7000e9947ea?utm_source=copy_link&utm_campaign=listing_sharing class="btn-2">Book your Spot</a> </div>
        </div>
        <div id="img" class=" pinside40" ><img src="/static/pictures/dclassic 2022-07-26 090730.514.JPG" height="100%" width="100%"></div>

        <div class="text-center pinside40">
            <h3 class="pinside10">Types of Events: </h3>
            <p class="pinside10"> Events including, but not limited to Photo Shoots, External Brands, Showcasings & Peer Space. </p>
        </div>
    </div>





    </div>



    {% endblock content %}


   