{% extends 'base.html' %}


{% block content %}


<body id="grad-4">

    <div class="big-image-artist">
        <div class="overlay">
            <div class="overlay-text-container">
                <h1 class="massive-title">Artist Competitions</h1>
                <h3 class="massive-title">ARTIST COMPETITIONS ARE A CHANCE TO SHOWCASE YOUR ART EXPERIENTIALLY WITH FRIENDS AND THE LARGER COMMUNITY</h3>
            </div>
        </div>
    </div>



    <div id="events">
        <h2 id="glitch events">Calling </h2>
        <h3 class="massive-title text-center dark pinside10">All</h3>
        <h2 id="glitch events">Artists </h2>
    </div>

    <div class="grid-3 mt60">

        <div></div>

        <div class=" container">
            <p class=" medium-title white text-center ">How it works</p>
            <p class=" dark-50 text-center ">ARTISTS ARE PRESENTED WITH A PROMPT AND ONE HOUR TO INTERPRET IT ON A CANVAS USING ANY MEDIUM OF THEIR CHOICE (PAINT/DRAW/ACRYLIC)</p>
            <p class=" dark-50 text-center ">ONLOOKERS WILL VOTE FOR A WINNER AT THE END OF THE NIGHT. PARTICIPATING ARTIST WILL BE SHOWCASED ON KISMET STUDIO CHICAGO SOCIAL MEDIA AND WEBSITE. </p>
            <div class="dark container">
                <p class=" dark text-center pinside10">Let us know if you want in  </p>
                <div class=" dark text-center pinside10"><a class="btn" href="{{ url_for('join_the_community') }}">Message Us</a> </div>
            </div>

        </div>
        <div></div>
        <div></div>


      



        <div></div>


        



    
       
    </div>





    





</body>



    {% endblock content %}