{% extends 'base.html' %}


{% block content %}


<body id="grad-3">

    <div id="events">
        <h2 id="glitch events">Click</h2>
        <h3 class="dark text-center">to learn</h3>
        <h2 id="glitch events">about</h2>
        <h3 class="dark text-center">different</h3>
        <h2 id="glitch events">Events</h2>
    </div>
    




    <div class="grid-3">
        <div class="pinside40">
            <a id=kismet-label href="{{ url_for('DJ') }}"><img  src="/static/events/dj-button.png" height="100%" width="100%"></a>
        </div>  
        <div class="pinside40">
            <a id=kismet-label href="{{ url_for('CC') }}"><img  src="/static/events/the-cup-g0ac03a488_1920.png" height="100%" width="100%"></a>
        </div>
        <div class="pinside40">
            <a href="{{ url_for('WD') }}"><img id=kismet-label  src="/static/events/wellness-button.png" height="100%" width="100%"></a>
        </div>
        <div class="pinside40">
            <a href="{{ url_for('VM') }}"><img id=kismet-label src="/static/events/vendor-markets-button.png" height="100%" width="100%"></a>
        </div>  
        <div class="pinside40">
            <a href="{{ url_for('PIP') }}"><img id=phone-20-percent src="/static/21.png" height="100%" width="100%"></a>
        </div>

    </div>





</body>



    {% endblock content %}