<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
<title>Title</title>
</head>
<body id="grad" >
    

    <nav id="transparent-nav" class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar10">
                
                </div>
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('activities') }}">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('calendar_and_events') }}">Calendar & Events</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container disco">
        <img id="events-hours-background-logo" src="/static/logo_background.png" height="50px" width="1000px">
        <img id="discoball" src="/static/discoball.png" height="1400px" width="1600px">
        <img id="plain-yellow-logo-hours" src="/static/plain-yellow-logo.png" height="600px" width="600px">
    </div>

    <div id="hours" class="container">

        <div id="hours-flex" class="container">
            <img src="/static/hours-label.png" height="130px" width="650px">
            <img id="operational-hours" src="/static/operational-hours.png" height="340px" width="715px">
        </div>
        
    </div>



    









    



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>