{% extends 'base.html' %}


{% block content %}

<body id="grad">



<div class="big-image-index">
    <div class="overlay">
        <div class="overlay-text-container">
            <h1 class="massive-title">Kismet Studio Chicago</h1>
            <h3 class="massive-title">Event Space & Selfie Museum in Wicker Park</h3>
        </div>
    </div>
</div>

<div class="grid-2 ">
        <div class=" container align-center pinside40">
            
            <h2 class="medium-title"> 1136 N. MILWAUKEE Ave Chicago, IL 60642</h2>
        </div>
        <div class="pinside80 low-opacity ">
            <img class=" " src="/static/plain-yellow-logo.png" height="100%" width="100%">
        </div>
</div>



    <section class="light mb20">
        <div class="container left">

        <h1 class="mission-title mb30" >Vision</h1>
        <p class="mission-statement mb40">Extend the mission beyond the physical space. Contributing to the Chicago Art Scene and having an overall impact on wider mainstream culture. </p>
        </div>
    </section>


<section class="light">
    <div class="container left">
    <h1 class="mission-title mb30" >Mission</h1>
    <p class="mission-statement">Facilitate a space for creators, artists, and their lovers to congregate. Creating a playform to showcase, share, and experience art & culture. </p>
    </div>
</section>

<section class="dark">
    <div class="container">
    <div class="col-3 text--center pinside40">
        <img src="/static/pictures/dclassic 2022-07-26 122515.292.JPG" alt="" class=" details-img"/>
    </div>
    <div class="col-7 details dark-50">
        <h3 class="pinside10">Artist Competitions</h3>
        <p class="mr100 pinside10">Are you an artist? Take some time to learn more about our Kismet Studio Artist Competitions. </p>
        <div class="mr100 pinside10"><a href="{{ url_for('artist_competitions') }}" class="btn mr100 pinside10">Learn More</a></div>
    </div>
    </div>
</section>


<div class="grid-3 purple ">
       
    <div class="">
        <h3 class="text-center pinside40 mt30 massive-title">Shop Kismet Studio</h3>
    </div>
    <div id="img" class="low-opacity pinside10 mt40 rounded mb40" ><img src="/static/pictures/dclassic 2022-07-26 090707.744.JPG" height="100%" width="100%"></div>

    <div class="text-center pinside40 column align-center">
        <h3 class="text-center pinside10 ">Get offical Kismet Studio Merch</h3>
        <div class="text-center pinside10"><a href=https://kismetstudiochicago.myshopify.com/ class="btn-2">Shop Kismet</a> </div>

    </div>
</div>

<div class="item-pink-background">
    <div class="grid-3">
        <div></div>
        <div id="img" class="low-opacity pinside40" ><img src="/static/pictures/dclassic 2022-07-26 162149.609.JPG" height="100%" width="100%"></div>
        <div></div>
    </div>
</div>


<section class="dark">
    <div class="container">
    <div class="col-3 text--center pinside40">
        <img src="/static/pictures/dclassic 2022-07-26 122656.739.JPG" alt="" class=" details-img"/>
    </div>
    <div class="col-7 details dark-50">
        <h3 class="pinside10">Live Music Talent Call</h3>
        <p class="mr100 pinside10">Kismet Studio wants to celebrate local Chicago talent and we want you and your band to be apart of it!</p>
        <div class="mr100 pinside10"><a href="https://docs.google.com/forms/d/1xIv07NsJJAjohhmXp5f62n2kr7IhaWgSFlJ4JfGLO3M/viewform?edit_requested=true" class="btn mr100 pinside10">Sign Up</a></div>
    </div>
    </div>
</section>


</body>

 

 
     
    
    {% endblock content %}