<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
<title>Title</title>
</head>
<body id="grad">

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="nav-link font-weight-bold" href="{{ url_for('index') }}"><h3>Kismet Studio</h3></a>

        <div class="nav-container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar10">

                </div>
                <ul class="navbar-nav nav-fill w-100">

                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('what_we_are') }}">What We Are</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('calendar_and_events') }}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('activities') }}">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('join_the_community') }}">Join The Community</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

        
    </div>


    
        <div class="container">
            <div class="container flex-wrap">
                <img id=hero-image-test src="/static/kismet-studio-chicao-03.png" height="50%" width="50%">
                <img id=hero-image-test src="/static/kismet-studio-chicao-04.png" height="50%" width="50%">
            </div>
        </div>


    



    <div class="heroImage">
        <div class="heroContents">
            <img class="kismet-label" src="/static/hero-image-2.png" height="30%" width="30%">
            <img class="kismet-label" src="/static/hero-image.png" height="30%" width="30%">
            <img class="kismet-label" src="/static/hero-image-3.png" height="30%" width="30%">
        </div>
    </div>

    <div class="container">
        <div class="container flex-wrap">
            <img id=phone-70-percent class="location" src="/static/location.png" height="60%" width="60%">
            <img id=phone-50-percent src="/static/19.png" height="30%" width="30%">
        </div>
    </div>

    <div class="container">
        <div class="container flex-wrap vision">
            <img id=phone-50-percent src="/static/vision-label.png" height="50%" width="50%">
            <img id=kismet-label src="/static/vision-description.png" height="80%" width="80%">
        </div>
    </div>


    <div class="container">
        <div class="container flex-wrap">
            <img id=kismet-label src="/static/mission-label.png" height="80%" width="80%">
            <img id=kismet-label src="/static/mission-description.png" height="90%" width="90%">
        </div>
    </div>

    </div>

    <footer>
        <div class="footer-container">

            <div class="footer-item">
                <h1>Hours</h1>
                <div class="days">                   
                    <p>Mon - Tues |  Closed</p>
                    <p>Wed - Fri:  3:00 pm - 8:00 pm</p>
                    <p>Sat - Sun:  11:00 am - 7:00 pm</p>
                </div>
            </div>

            <div class="footer-item">
                <div class="copyright">
                    <img id="footer-logo" src="/static/plain-yellow-logo.png" width="20%" height="60%">
                    <p>Kismet Studio © 2022</p>
                </div>
            </div>

            <div class="footer-item">
                <div class="copyright">
                    <h3>Follow Us on Insta</h3>
                    <a id="insta" class="fa-4x fab fa-instagram nav-link font-weight-bold" href="https://www.instagram.com/kismetstudiochicago/"></a>
                    <p>1136 N. Milwaukee Ave</p>
                    <p>Chicago, IL 60642</p>
                </div>
            </div>
         

        </div>
    </footer>

     
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>