<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
<title>Title</title>
</head>
<body id="grad-3">

    <nav id="purple-nav" class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar10">

                </div>
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('what_we_are') }}">What We Are</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('calendar_and_events') }}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('activities') }}">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('join_the_community') }}">Join The Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('hours') }}">Hours</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
        
    </div>


    <div class="hero-title">
        <div class="hero-title-contents">
            <img src="/static/logo_background.png" height="50px" width="2000px">
            <img id=kismet-label src="/static/kismet-label.png" height="170px" width="1417px">
            <img src="/static/logo_background.png" height="50px" width="2000px">
        </div>
    </div>



    <div class="heroImage">
        <div class="heroContents">
            <img src="/static/hero-image-2.png" height="320px" width="480px">
            <img src="/static/hero-image.png" height="320px" width="480px">
            <img src="/static/hero-image-3.png" height="320px" width="480px">
        </div>
    </div>


    <div id=location class='container container-space-between'>  
        <img src="/static/location.png" height="300px" width="500px">
        <img src="/static/19.png" height="475px" width="475px">
    </div>


    <div class="heroImage">
        <div class="heroContents">
            <img src="/static/vision-label.png" height="300px" width="600px">
        </div>
    </div>

    <div class='container container-space-between'>  
        <img src="/static/vision-description.png" height="500px" width="1000px">
    </div>



    <div class="heroImage">
        <div class="heroContents">
            <img src="/static/mission-label.png" height="300px" width="600px">
        </div>
    </div>

    <div class='container container-space-between'>  
        <img src="/static/mission-description.png" height="500px" width="1000px">
    </div>


    
        




        </div>

        

                
    




    </div>
     
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>