<nav id="purple-nav" class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">

            </div>
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{{ url_for('index') }}">Who We Are</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{{ url_for('calendar_and_events') }}">Calendar & Events</a>
                </li>
            </ul>
        </div>
    </div>
</nav>





{% extends 'base.html' %}


{% block content %}



<img id="logo-background-join" src="/static/logo_background.png" height="50px" width="1200px">





<div class="container"></div>





    <div id="grad" class="container join-container">

        <div class="container">
            <img id="disco-logo" src="/static/join-the-community-header.png" height="200px" width="1100px">
        </div>

        <div id="header-image-join-the-community" class="container">
            <img src="/static/join-the-community.png" height="200px" width="1000px"> 
            <img src="/static/activities-footer.png" height="450px" width="1125px">
        </div>

        
        
        <div class="container container-items">

            <form action="https://formsubmit.co/c863cc743629da090e35d95ce43f1c0d" method="POST">
                <input type="email" name="email" placeholder="Email Address" required>
                <input type="text" name="message" required>
                <button type="submit">Send</button>
            </form>

            




        
        </div>
        <img id="tell-us-about-yourself" src="/static/tell-us-about-yourself.png" height="475px" width="1000px"> 




    </div>


    <img id="plain-yellow-logo" src="/static/plain-yellow-logo.png" height="600px" width="800px">

    





    


   







</div>



{% endblock content %}

