{% extends 'base.html' %}


{% block content %}

<body id="grad-3">

    <div class="big-image-contact">
        <div class="overlay">
            <div class="overlay-text-container-contact">
                <h1 class="massive-title ">Join the Community</h1>
                <h3 class="massive-title ">Message us if you have a question, want to inquire about an event, or want general information. We can't wait to hear from you!</h3>
            </div>
        </div>
    </div>

    <section class=" align-center dark-50">
        <div class="row flex mt40">
            <p class="pinside20"> If you want to rent space or buy tickets for an event, you can do so here: </p>
            <div class="pinside20"><a href=https://linktr.ee/kismetstudiochicago class="btn-2">Get Tickets</a> </div>

        </div>
    </section>

 
        <div class="grid-75 pinside40">
            <div></div>
            <img class="kismet-label low-opacity pinside20"  src="/static/19.png" height="100%" width="100%">
        </div>

        <div class="grid-3">
            <div></div>
            <div class="text-center pinside20">
                <p>Be sure to tell us about yourself! Tell us who you are, what you're all about & send along links to your socials</p>
            </div>
            <div></div>

        </div>




    <div class="container item-plain">
        <div class="container form-container">
            <form target="_blank" action="https://formsubmit.co/c863cc743629da090e35d95ce43f1c0d" method="POST">
              <div  class="form-group">
                <div class="form-row">
                  <div class="col">
                    <h3 class="mb20">Message Us!</h3>
                    <input id=kismet-label type="email" name="email" class="form-control" placeholder="Email" required>
                  </div>
                </div>
              </div>
              <div id=kismet-label class="form-group">
                <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
              </div>
              <button type="submit" class="btn btn-lg btn-dark btn-block">Send</button>
            </form>
          </div>
    </div>





</body>


{% endblock content %}






