<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
<title>Title</title>
</head>
<body id="grad-3">
    
    <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">

            </div>
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{{ url_for('index') }}">Who We Are</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{{ url_for('calendar_and_events') }}">Calendar & Events</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<div class="container"><img id="logo-background-join" src="/static/logo_background.png" height="50px" width="1100px"></div>





    <div id="grad-2" class="container join-container">



        <div id="header-image-join-the-community" class="container">
            <img src="/static/join-the-community.png" height="220px" width="1100px"> 
            <img src="/static/activities-footer.png" height="450px" width="1125px">
        </div>

        <div class="container">
            <img id="disco-logo" src="/static/join-the-community-header.png" height="200px" width="1100px">
        </div>



        
        
        <div class="container container-items">

            <div class="container">
                <img src="/static/tell-us-about-yourself-title.png" height="150px" width="900px">
                <form target="_blank" action="https://formsubmit.co/c863cc743629da090e35d95ce43f1c0d" method="POST">
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col">
                        <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-lg btn-dark btn-block">Send</button>
                </form>
              </div>



        
        </div>


        <img id="tell-us-about-yourself" src="/static/tell-us-about-yourself.png" height="475px" width="1000px"> 




    </div>


    <img id="plain-yellow-logo" src="/static/plain-yellow-logo.png" height="600px" width="800px">

    





    


   







</div>





