{% extends 'base.html' %}

{% block content %}



<body id="grad-3">



<div class="big-image-vm">
    <div class="overlay">
        <div class="overlay-text-container-contact">
            <h1 class="massive-title">Vendor Markets</h1>
            <h3 class="massive-title">Vendor Market Days are announced on Instagram</h3>
        </div>
    </div>
</div>





    <section class="light ">
        <div class="container left">

        <h3 class="massive-title mb30" >Want to be a Vendor</h3>
        <p class="mission-statement mb40">We are always looking for more vendors. Message us to inquire about vending at our next Vendor Market Day. </p>
        <div class="text-center pinside10"><a href="{{ url_for('activities') }}" class="btn-2">Message Us</a> </div>
        </div>
    </section>




</body>

 

 
     
    



{% endblock content %}