<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
<title>Title</title>
</head>
<body id="body-what-we-are">

    <nav id="purple-nav" class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar10">

                </div>
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('hours') }}">Hours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{{ url_for('calendar_and_events') }}">Calendar & Events</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="container flex-wrap">
            <img id=kismet-label src="/static/what_we_are.png" height="100%" width="100%">
            <img id=kismet-label class="what-we-are-image" src="/static/what_we_are_footer.png" height="100%" width="100%">
        </div>
    </div>



    <!-- FOOTER -->

<footer id="what-we-are-footer">
    <div class="container container-fluid">

        <div class="row w-100">
            <div id="container-center-phone" class="container">
                <a id="insta" class=" fab fa-instagram nav-link font-weight-bold" href="https://www.instagram.com/kismetstudiochicago/">kismetstudiochicago</a>
            </div>
        </div>
        
            <div class="container-center">
                <img class="footer-logo" id="phone-10-percent" src="/static/plain-yellow-logo.png" width="10%" height="10%">
            </div>
        
        <div class="row w-100">
            <div class="container-center">
                <p id="copyright">Kismet Studio © 2022</p>
            </div>
        </div>
    </div>
</footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>



